<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head', title=title) %>
  </head>
  <body>
    <%-include('../partials/header', select=select) %>
    <div class="row">
      <%-include('../partials/leftSide') %> <%-include('../partials/rightSide')
      %>
    </div>
    <script src="landing.js"></script>
  </body>
</html>
